<!-- Required meta tags -->
<link rel="stylesheet" href="/css/sintomas.Css/sintomasAgragar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
<form action="/sintomas/agregar/{{user.idUsuario}}" method="post">
    <div id="contenido">
    
        <div id="Nombre">
            <label>Sintomas:</label>
            <input type="text" name="nombresintomas" id="nombre">
        </div>
        
<div id="Descripcion"> 
      <label> Descripcion :</label>
        <textarea type="text" name="descrpcionsintomas" id="descripcion" maxlength="2500" required> </textarea>

</div>

        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>
