<!-- Required meta tags -->
<link rel="stylesheet" href="/css/ContactosEmergencia/contactosAgregar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

<div id="contenedor">
    <form action="/contactos/agregar/{{user.idusuario}}" method="POST">
        
        <div id="Nombres">
            <label>
                Nombre:
            </label>
            <input type="text" name="nombre" id="nombre" required>
        </div>

        <div id="Familiar">
            <label>
            Familiar:
            </label>
            <select name="familiar" id="familiar" required>
                {{#each familiar}}
                <option value="{{this.idfamiliar}}">
                    {{this.nombreFamiliar}}
                </option>
                {{/each}}
            </select>
        </div>

        <div id="Telefono">
            <label>
            Teléfono (Opcional):
            </label>
            <input type="number" name="telefono" id="telefono">
        </div>

        <div id="Celular">
            <label>
            Celular:
            </label>
            <input type="number" name="celular" id="celular" required>
        </div>

        <div id="boton">
            <button type="submit" id="btn-agregar">
                Agregar
            </button>
        </div>
    </form>
</div>
