:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fef8f8;
}

#head {
  border-bottom: 2px solid rgb(255, 85, 0);
  margin-top: 5%;
  border-radius: 5%;
  width: 50%;
}

#h5 {
  color: rgb(255, 89, 0);
}

#h5 #a {
  background-color: #f08080;
  color: aliceblue;
  border-radius: 5%;
}

#padd {
  padding-top: 5%;
  padding-bottom: 5%;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

#card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  width: 50%;
  border: #e85703 solid 1px;
}

#card__image {
  width: 100%;
  height: 70%;
}

#card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
  border: #e85703 solid 1px;
}

#card:hover #card__overlay {
  transform: translateY(0);
  border: #e85703 solid 1px;
}

#card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

#card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

#card__arc path {
  fill: var(--surface-color);
  display: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

#card:hover #card__header {
  transform: translateY(0);
}

#card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

#card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

#card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

#card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #000000;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
