<link rel="stylesheet" href="/css/my/add.css" />
<form action="/add-councils" method="POST">
  <div id="logo"></div>
  <div id="title">Crear</div>
  <div id="sub-title">Experiencia</div>
  <div id="input">
    <div id="inputBox">
      <label>Nombre Experiencia</label>
      <input
        type="text"
        name="nombreExperiencia"
        placeholder="Mi experiencia se llama..."
        required
      />
    </div>
    <div id="inputBox">
      <label>Descripción Experiencia</label>
      <input
        type="text"
        name="descripcionExperiencia"
        placeholder="Mi experiencia es..."
        required
      />
    </div>
    <div id="inputBox">
      <input type="submit" value="Save" />
    </div>
  </div>
</form>