<link rel="stylesheet" href="/css/my/myedit.css" />
<form action="/edit/{{experence.id}}" method="POST">
  <div id="logo"></div>
  <div id="title">Editar</div>
  <div id="sub-title">Experiencia</div>
  <div id="input">
    <div id="inputBox">
      <label>Editar Experiencia</label>
      <input
        type="text"
        value="{{experence.nombreExperiencia}}"
            name="nombreExperiencia"
        placeholder="Mi experiencia se llama..."
      />
    </div>
    <div id="inputBox">
      <label>Descripción Experiencia</label>
      <input
        type="text"
        value="{{experence.descripcionExperiencia}}"
            name="descripcionExperiencia"
        placeholder="Esta es mi experiencia..."
      />
    </div>
    <div id="inputBox">
      <input type="submit" value="Save" />
    </div>
  </div>
</form>
