<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card" style="border: 1px solid rgb(255, 119, 0)">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <h1 style="color: rgb(253, 103, 44);">Agregar experiencia</h1>
                        <div class="form-group">
                            <input type="text" name="nombreExperiencia" class="form-control" placeholder="Nombre Experiencia" required autofocus>
                        </div> <br>
                         <div class="form-group">
                            <input type="text" name="descripcionExperiencia" class="form-control" placeholder="descripcion Experiencia" required autofocus>
                        </div> <br>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>