<link rel="stylesheet" href="/css/my/form.css" />
<div id="fondo">
  <img src="/img/fondos/Fondo.jpg" alt="Logo" />
</div>

<div id="contenedor">
  <form action="/edit/{{experence.id}}" method="POST">
    <div id="title">Editar</div>
    <div id="sub-title">Experiencia</div>
    <div id="input">
      <div id="Nombre">
        <label for="nombreIntxt">
          <span>Nombre de la experiencia</span>
        </label>
        <input
          id="nombreIntxt"
          type="text"
          value="{{experence.nombreExperiencia}}"
          name="nombreExperiencia"
          placeholder="Mi experiencia se llama..."
          required
        />
      </div>

      <div id="description">
        <label for="descriptionIntxt">
          <span>Descripción de la experiencia</span>
        </label>
        <input
          id="descriptionIntxt"
          type="text"
          value="{{experence.descripcionExperiencia}}"
          name="descripcionExperiencia"
          placeholder="Así se llama mi experiencia..."
          required
        />
      </div>

      <div id="save">
        <input type="submit" value="Save" />
      </div>
    </div>
  </form>
</div>