<form action="/sintomas/lista/{{user.idUsuario}}" method="get"></form>
<div id="contenido">
      {{#each lista}}
    <div id="nombre">
       <label >{{nombreSintomas}}</label> 
    </div>
    {{/each}}

   
</div>
