{{#each lista}} 
<form action="/tipoEpilepsia/editar/{{idTipoEpilepsia}}" method="post">
    <div id="contenido">
     
        <div id="Nombre">
            <label>Tipo de Epilepsia:</label>
            <input type="text" name="nombretipoEpilepsia" id="nombre" value="{{nombreTipoEpilepsia}}">
        </div>
     <div id="Descripcion"> 
      <label> Descripcion :</label>
        <textarea type="text" name="descripcionTipoEpilepsia" id="descripcion" maxlength="2500" required> {{descripcionTipoEpilepsia}} </textarea>


        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>
{{/each}}