<form action="/tipoEpilepsia/agregar/ {{user.idUsuario}}" method="post">
    <div id="contenido">
    
        <div id="Nombre">
            <label>Tipos de Epilepsias :</label>
            <input type="text" name="nombretipoEpilepsia" id="nombre">
        </div>

        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>
