<form action="/efectosSecundarios/editar/{{user.idUsuario}}" method="post">
    <div id="contenido">
     
        <div id="Nombre">
            <label>Efectos Secundarios:</label>
            <input type="text" name="nombreEfectosSecundarios" id="nombre" value="{{nombreEfectosSecundarios}}">
        </div>
    
        <div id="objetivos">
            <textarea name="objetivo">{{objetivo}}</textarea>
        </div>        
    
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>