<form action="/consejo/agregar/{{user.idUsuario}}" method="POST">
<div id="contenedor">
    <div id="titulo">
        {{#each idMax}}
        <label>Agregar Consjejo N: <input type="text" name="consejos" id="numero" value="{{'MAX(idExperiencias)'}}"></label>
        {{/each}}
    </div>

    <div>
        <label>
            Foto:
        </label>
        <input type="image" name="imagenConsejo" id="foto">
    </div>
    
    <div>
        <label>
            Video:
        </label>
        <input type="video" name="videoConsejo" id="video">
    </div>
    
    <div>
        <label>
            Nombre:
        </label>
        <input type="text" name="nombreConsejo" id="nombre" required>
    </div>
    
    <div>
        <label>
            Descripción:
        </label>
        <input type="text" name="consejosDetallesConsejo" id="descripcion" required>
    </div>
    
    <div>
        <button type="submit" id="btn-agregar">
            Agregar
        </button>
    </div>
</div>
</form>

<script src="/js/numero.js"></script>
