<link rel="stylesheet" href="/css/my/form.css" />
<div id="fondo">
  <img src="/img/fondos/Fondo.jpg" alt="Logo" />
</div>

<div id="contenedor">
  <form action="/post/{{council.id}}" method="POST">
    <div id="title">Editar</div>
    <div id="sub-title">Consejo</div>
    <div id="input">
      <div id="Nombre">
        <label for="nombreIntxt">
          <span>Nombre de la experiencia</span>
        </label>
        <input
          id="nombreIntxt"
          type="text"
          value="{{council.nombreConsejo}}"
          name="nombreConsejo"
          placeholder="Nombre de mi experiencia..."
          required
        />
      </div>

      <div id="description">
        <label for="descriptionIntxt">
          <span>Descripción de la experiencia</span>
        </label>
        <input
          id="descriptionIntxt"
          type="text"
          value="{{council.descripcionConsejo}}"
          name="descripcionConsejo"
          placeholder="Descripción de mi experiencia..."
          required
        />
      </div>

      <div id="save">
        <input type="submit" value="Save" />
      </div>
    </div>
  </form>
</div>