<link rel="stylesheet" href="/css/my/add.css" />

<form action="/add-councils" method="POST">
  <div id="logo"></div>
  <div id="title">Creando</div>
  <div id="sub-title">Consejo</div>
  <div id="input">
    <div id="inputBox">
      <label>Nombre Consejo</label>
      <input
        type="text"
        name="nombreConsejo"
        placeholder="Mi consejo se llama..."
      />
    </div>
    <div id="inputBox">
      <label>Descripción Consejo</label>
      <input
        type="text"
        name="descripcionConsejo"
        placeholder="Mi consejo es..."
      />
    </div>
    <div id="inputBox">
      <input type="submit" value="Save" />
    </div>
  </div>
</form>